# Ambiente Virtual (Muito pesado)
venv/

# Configurações Privadas (NUNCA suba seu Token/ID)
config.json

# Arquivos de log e detecções temporárias
runs/
capturas/
alerta.jpg
alerta_*.jpg

# Modelos base
yolov8n.pt

# Pasta de dataset (
3D-printing-failure-1/

# Arquivos do sistema e VS Code
.vscode/
__pycache__/
*.pyc